@tailwind base;
@tailwind components;
@tailwind utilities;
@import './base.css';

@layer base {
  :root {
    --color-text-main: #001F00;
    --color-text-muted: #565656;
    --color-text-own: #00ff00;
    --color-bg-dark: #162447;
  }
}


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components {
  .btn {
    @apply py-3 px-6 xl:py-[1.3rem] xl:px-[2.7rem] mx-2 rounded-full text-white hover:text-[#00CB00] bg-[#001F00] hover:bg-[#DFFFE3] duration-200 text-lg lg:text-xl uppercase font-semibold
  }
}